* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

/* Global styles  */

:root {
  --base-color: #218380;
  --white: #ffffff;
  --black: #000000;
  --font-family: Verdana, Geneva, Tahoma, sans-serif;
}

body{
    background: var(--white);
}